<div class="container">
    <section class="list" [ngStyle]="{'width': modalOpen ? '60%' : '100%'}"
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()">
        <ul id="list">
            <li tabindex=0 *ngFor="let pokemon of pokemons" (click)="onClick($event)" (keyup.enter)="onClick($event)" (keydown)="trackKeys($event)" id="{{pokemon.id}}">
                <p id="{{pokemon.id}}">{{pokemon.id}}</p>
                <p id="{{pokemon.id}}">{{pokemon.name}}</p>
                <img id="{{pokemon.id}}" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.id}}.png">
            </li>
        </ul>
    </section>
    <pokemon-card class="pokemon-card" *ngIf="modalOpen"
    [pokemonStats]="pokemonStats" [idTracker]="idTracker"></pokemon-card>
</div>
